* {
    box-sizing: border-box;
    word-break: break-word;
}
button, .header, .section, .footer {
    user-select: none;
}
*:focus {
    outline: 3px solid rgb(0, 255, 128);
}
.indexBody {
        background-image: linear-gradient(45deg, transparent 20%, rgb(179, 179, 179) 25%, transparent 25%), 
                          linear-gradient(-45deg, transparent 20%, rgb(179, 179, 179) 25%, transparent 25%), 
                          linear-gradient(-45deg, transparent 75%, rgb(179, 179, 179) 80%, transparent 0),
                          radial-gradient(rgb(179, 179, 179) 3px, transparent 0);
        background-size: 30px 30px, 30px 30px;
        background-color: rgb(71, 77, 87);
      }
.header {
    height: fit-content;
    width: 96%;
    margin: 0 auto;
    border-bottom: groove rgb(229, 229, 248);
    background-color: rgb(183, 182, 255);
    padding: 25px 30px 12px 30px;
    margin-top: -8px;
}
.heading, .name, h5 {
    text-align: center;
    font-family: 'Times New Roman', serif;
    line-height: 8px;
    font-weight: bold;
}
.name {
    font-family: Times, serif;
}
.table1 {
    position: relative;
    padding-bottom: 7px;
    width: 96%;
    margin: 0 auto;
    background-color: rgb(179, 179, 179);
}
.headers > div {
    background-color: rgb(79, 92, 114);
    color: rgb(228, 226, 226);
    padding: 7px 7px 4px 7px;
    font-weight: bold;
    text-align: center;
    user-select: none;    
}
.row > * {
    width: calc(84%/6);
    font-family: Helvetica, sans-serif;
    border-left: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
    padding-left: 2px;
    padding-right: 2px;
}
.row > *:nth-child(1) {
    width: 6%;
}
.row > *:nth-child(2) {
    width: 10%;
}
.row {
    display: flex;
    flex-direction: row;
    border-left: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
}
.row > textarea {
    height: 80px;
    font-size: 16px;
    resize: none;
    padding: 12px 2px;
}
.saveInput, .saveEdited {
    height: 43px;
    background-color: rgb(0, 255, 0);
    width: 11%;
    margin-top: 7px;
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
    border-color: rgb(0, 255, 0);
}
.saveInput {
    margin-left: 82%;
}
.saveEdited {
    margin-left: 77%;
    display: none;
}
.saveInput:hover, .saveInput:focus, .saveEdited:hover, .saveEdited:focus {
    border-color: rgb(0, 192, 0);
    color: white;
}
.trash {
    width: 100%;
    height: auto;
}
.clearAll {
    background-color: rgb(157, 156, 250);
    width: 40px;
    margin-left: 8px;
    vertical-align: bottom;
    margin-top: 5px;
    height: 43px;
    border-color: rgb(157, 156, 250);
}
.clearAll:hover, .clearAll:focus {
    background-color: rgb(97, 96, 146);
    border-color: rgb(97, 96, 146);
}
.clearAll:hover img, .clearAll:focus img{
    filter: invert(100%);
}
.clearInfo {
    display: none;
    position: absolute;
    vertical-align: bottom;
    background-color: cornsilk;
    right: 0;/* i'll come back to correct this*/
    bottom: 0;
    padding-left: 2px;
}
.cutEdit {
    background-color: rgb(0, 96, 255);
    border-color: rgb(0, 96, 255);
    height: 43px;
    width: fit-content;
    display: none;
    font-family: serif;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 7px;
    font-size: 18px;
}
.cutEdit:hover, .cutEdit:focus {
    color: white;
    background-color: rgb(97, 96, 146);
    border-color: rgb(97, 96, 146);
}
.section {
    position: sticky;
    top: 0;
    width: 96%;
    margin: 0 auto;
    background-color: rgb(179, 179, 179);
    border-top: groove;
}
.section p{
    display: inline-block;
    text-align: end;
    padding-right: 150px;
    font-size: 30px;
    font-family: serif;
    width: 65%;
    display: inline-block;
    line-height: 0px;
}
.teller {
    display: none;
    background-color: rgba(222, 184, 135, 0.8);
    font-family: 'Lucida Sans', Verdana, sans-serif;
    padding: 7px;
    top: 50%;
    left: 200px;
    font-size: 18px;
    position: fixed;
    z-index: 1;
}
.cutDelBtn {
    text-decoration: underline;
    background-color: inherit;
    border: none;
}
.cutDelBtn:hover {
    color: white;
}
.cutDelBtn:focus {
    outline: 1px solid rgba(128, 91, 44, 0.8);
}
.cutDelBtn:active {
    background-color: rgba(128, 91, 44, 0.8);
}
input[type= "search"] {
    height: 32px;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 14px;
    width: 22%;
    border-color: none;
    border: 2px solid rgb(164, 164, 164);
}
.search {
    font-size: 18px;
    border-radius: 0px;
    width: 100px;
    font-family: serif;
    padding: 4px;
    background-color: rgb(157, 156, 250);
    border-color: rgb(157, 156, 250);
}
.search:hover, .search:focus {
    color: white;
    background-color: rgb(97, 96, 146);
    border-color: rgb(97, 96, 146);
}
#searcher::-webkit-search-decoration, #searcher::-webkit-search-cancel-button, #searcher::-webkit-search-results-button, #searcher::-webkit-search-results-decoration {
    display: none;
}
.noSearch {
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    line-height: 25px;
    display: none;
}
.table2 {
    width: 100%;
    margin-bottom: 5px;
    max-height: 500px;
    overflow: overlay;
}
.table2 > .row {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.divs {
    min-height: 30px;
    display: none;
}
.divs > div {
    padding: 8px 2px;
    background-color: lightgrey;
}
.footer {
    width: 100%;
    background-color: rgb(183, 182, 255);
    font-family: serif;
    padding-left: 2%;
    padding-top: 8px;
    vertical-align: top;
    margin-bottom: -8px;
}
.footer > div {
    display: inline-block;
    width: 80%;
}
.stats, .srchStat {
    font-size: 18px;
}
.srchStat {
    display: none;
}
.footer > div > p {
    text-align: center;
}
.exit {
    padding: 8px;
    width: 9%;
    margin-top: 4px;
    font-family: serif;
    font-weight: bold;
    background-color: rgb(157, 156, 250);
    font-size: 18px;
    border-color: rgb(157, 156, 250);
}
.exit:hover, .exit:focus {
    background-color: rgb(97, 96, 146);
    border-color: rgb(97, 96, 146);
    color: white;
}
.goingBody, .entryBody {
    background-color: rgb(185, 184, 255);
}
.exitWord {
    font-style: italic;
    font-family: serif;
    text-align: center;
    margin-top: 250px;
    color: blue;
}
.welcome {
    animation-name: fadeWelc;
    animation-duration: 450ms;
    text-align: center;
    color: blue;
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
    margin-top: 250px;
}
@keyframes fadeWelc {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}